@charset "utf-8";

/* CSS Document */

* {
  padding: 0;
  margin: 0;
}

img {
  border: none;
  vertical-align: top;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #edebe9;
  font-size: 14px;
  /* font-family: 'simkai', Helvetica, Arial, sans-serif; */
  font-family: "微软雅黑";
}

ul,
li {
  list-style: none;
}

a {
  color: #666666;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

.vtam {
  vertical-align: middle;
}

.txt_align_c {
  text-align: center;
}

.txt_align_r {
  text-align: right;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.logocon {
  display: -webkit-flex;
  z-index: 99;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 60px;
  background: #000;
  align-items: center;
  position: relative;
}

.logocon .logoimg {
  width: 20%;
  text-align: center;
}

.logocon .cont {
  color: #fcf8e6;
  letter-spacing: 1px;
  font-size: 14px;
  width: 80%;
}

.logocon .cont a {
  color: #fee549;
  padding-left: 1%;
  font-size: 16px;
}

input[type="button"],
input[type="text"],
input[type="email"],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.nodata {
  width: 100%;
  height: 480px;
  background: url(../img/ec-nodata.png) no-repeat center center;
}

.ec_header {
  height: 48px;
  line-height: 48px;
  text-align: center;
  background: #95bb37;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 2px 5px #e0e0e0;
}

.ec_header strong {
  font-size: 18px;
  color: #fff;
  font-weight: normal;
}

.ec_header_kongge {
  width: 100%;
  height: 50px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-gray {
  color: #666;
  background-color: #cfcfcf;
  border-color: #c7c7c7;
  width: 100%;
  padding: 5% 0;
  max-width: 100px;
}

.btn-green {
  color: #fff;
  background-color: #95bb37;
  border-color: #8db232;
  width: 100%;
  padding: 4px 0;
  max-width: 90px;
}

.btn-green-o {
  font-size: 10px;
  color: #85a732;
  border-color: #85a732;
  border-radius: 3px;
  padding: 0px 5px;
}

/*luodd*/

.ec_goods {
  background-color: #fff;
  padding: 4%;
  color: #848793;
  margin-bottom: 5px;
}

.ec_div1 {
  float: right;
  margin-top: 7%;
  width: 20%;
}

.ec_div2 {
  float: left;
  width: 22%;
  position: relative;
}

.ec_div3 {
  float: left;
  margin-left: 4%;
  margin-right: 4%;
  width: 50%;
}

.ec_div2 img {
  width: 100%;
  min-width: 70px;
  max-width: 140px;
}

.ec_div2 .tip {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  color: #fff;
  font-size: 9px;
  text-align: center;
  vertical-align: middle;
  width: 58px;
  height: 19px;
  line-height: 19px;
  background: url(../img/ec_corner.png) no-repeat;
  background-size: contain;
}

.ec_div3 h4 {
  font-weight: normal;
  color: #0a0a0a;
  font-size: 18px;
}

.ec_div3 .pro {
  color: #939393;
  font-size: 12px;
  width: 100%;
  height: 50px;
}

.ec_ajaxmore {
  line-height: 30px;
  font-size: 10px;
  display: inline-block;
  text-align: center;
}

.ec_Bbox_div {
  padding: 0px;
  width: 100%;
  height: 50px;
  position: relative;
  background: url(../img/nav_bottom_bk.png) no-repeat;
  background-size: 100% 100%;
}

.ec_Bbox a {
  width: 20%;
  height: 40px;
  text-align: center;
  margin: 7px 5px 3px 5px;
  display: inline-block;
  color: #ffffff;
}

.ec_Bbox a img {
  margin: 0px auto;
  display: block;
  margin-bottom: 3px;
}

.ec_all_kong {
  height: 50px;
}

/*card*/

.ec_card .head {
  background: url(../img/cardbg.png) repeat 0 0;
  padding: 8% 0 18% 0;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.ec_card .head .dot {
  font-size: 14px;
  padding: 0 5px;
  letter-spacing: 3px;
}

.ec_card .head .dot em {
  vertical-align: middle;
  font-style: normal;
  padding-left: 5px;
}

.ec_card .head .dot span {
  vertical-align: middle;
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  padding-left: 8px;
}

.ec_card .head .dot img {
  vertical-align: middle;
}

.ec_card .head .tit {
  font-size: 18px;
  text-align: center;
  letter-spacing: 3px;
}

.ec_card .head .tit em {
  vertical-align: middle;
  font-style: normal;
  padding-left: 5px;
}

.ec_card .head .tit img {
  vertical-align: middle;
}

.ec_card .head .num {
  text-align: center;
  margin: 5% 0 3% 0;
  letter-spacing: 4px;
}

.ec_card .head .num span {
  font-size: 32px;
  text-shadow: 1px 1px 1px #333;
}

.ec_card .head .num em {
  font-style: normal;
  padding-left: 5px;
}

.ec_card .head .currtip {
  text-align: center;
  letter-spacing: 1px;
}

.ec_card .head .btncon {
  letter-spacing: 1px;
}

.ec_card .head .btncon a {
  position: absolute;
  bottom: 10%;
  right: -13px;
  background: #7b9a28;
  color: #fff;
  padding: 1.5% 6%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid #b9d281;
}

.ec_card .detail {
  margin-top: 10px;
  background: #fff;
  padding: 0 4%;
}

.ec_card .detail h4 {
  font-weight: normal;
  font-size: 14px;
  color: #666;
  padding: 15px 0;
  letter-spacing: 2px;
  border-bottom: 1px solid #eee;
}

.ec_card .detail em {
  font-style: normal;
  padding-left: 5px;
  vertical-align: middle;
}

.ec_card .detail ul {
  width: 100%;
  margin: 0px auto;
}

.ec_card .detail ul li {
  padding: 15px 0px 15px 0px;
  line-height: 15px;
  background-color: #ffffff;
}

.ec_card .detail ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.ec_card .detail ul li span:first-child {
  display: inline-block;
  color: #666;
}

.ec_card .detail ul li a em {
  color: #8f949a;
  font-size: 12px;
}

.ec_card .detail ul li .fen {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  float: right;
  color: #7b9a28;
}

/*end-card*/

/*detail*/

.ec_detail .detail {
  margin-top: 10px;
  background: #fff;
  padding: 0 4%;
}

.ec_detail .detail h4 {
  font-size: 16px;
  color: #666;
  padding: 15px 0;
  text-align: center;
  letter-spacing: 2px;
  border-bottom: 1px solid #eee;
}

.ec_detail .detail p {
  color: #666;
  padding: 12px 0;
  line-height: 150%;
}

.ec_detail .detail p:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.ec_detail .btncon {
  margin-top: 20px;
  text-align: center;
}

.ec_detail .btncon a {
  width: 60%;
  background: #7b9a28;
  color: #fff;
  padding: 2% 0;
  font-size: 16px;
  border-radius: 25px;
  letter-spacing: 3px;
  border: 1px solid #b9d281;
}

/*end-detail*/

/*ec-tip*/

.ec_tip {
  margin-top: 30%;
}

.ec_tip .txt {
  font-size: 16px;
  letter-spacing: 3px;
  margin: 8px 0;
}

.ec_tip strong {
  font-size: 24px;
  color: #de5333;
}

.ec_tip em {
  font-style: normal;
  font-size: 13px;
  color: #aaa;
}

.ec_tip .btncon {
  margin-top: 20px;
  text-align: center;
}

.ec_tip .btncon a {
  width: 50%;
  color: #666;
  padding: 2% 0;
  font-size: 14px;
  border-radius: 25px;
  letter-spacing: 3px;
  border: 1px solid #999;
}

/*end-ec-tip*/

/*pop*/

.ec_pop .cover {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #000000;
  opacity: 0.7;
  z-index: 9998;
}

.ec_pop .pop_box {
  width: 80%;
  position: fixed;
  top: 20%;
  left: 10%;
  z-index: 9999;
  background-color: #fff;
  min-width: 200px;
  max-width: 400px;
  background: #fff;
  border-radius: 10px;
}

.ec_pop .pop_head {
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.ec_pop .pop_head h4 {
  font-weight: normal;
  font-size: 16px;
}

.ec_pop .pop_body {
  position: relative;
  max-height: 320px;
  overflow: auto;
  padding: 10px;
}

.ec_pop .pop_head button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.ec_pop .pop_head .close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.2;
}

.ec_pop .pop_foot {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.pop-address p{
margin-bottom:8px;
}

/*end-pop*/

/*table*/

.tablecon {
  padding-bottom: 4%;
}

.detail-table {
  width: 100%;
  color: #666;
  border-collapse: collapse;
  font-size: 13px;
}

.detail-table th {
  border-color: #ddd;
  text-align: left;
  background: #f2f2f2;
}

.detail-table > thead > tr > th,
.detail-table > tbody > tr > th,
.detail-table > tfoot > tr > th,
.detail-table > thead > tr > td,
.detail-table > tbody > tr > td,
.detail-table > tfoot > tr > td {
  padding: 8px 5px;
  line-height: 1.42857143;
  vertical-align: top;
  border: 1px solid #ddd;
}

.detail-table .point {
  color: #7b9a28;
}

.detail-table .time {
  color: #888;
  font-size: 12px;
}

.detail-table tr:nth-child(even) {
  background: #f8f8f8;
}

.detail-table tr:nth-child(odd) {
  background: #fff;
}

/*end-table*/

@media only screen and (min-width: 481px) {
  .ec_div3 .pro {
    height: 60px;
  }
}

@media only screen and (min-width: 451px) and (max-width: 480px) {
  .ec_div3 .pro {
    height: 50px;
  }
}

@media only screen and (min-width: 381px) and (max-width: 450px) {
  .ec_div3 .pro {
    height: 40px;
  }
}

@media only screen and (max-width: 380px) {
  .ec_div3 .pro {
    height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .btn {
    font-size: 12px;
  }
  .btn-green-o {
    font-size: 10px;
  }
  .ec_div3 h4 {
    font-size: 16px;
  }
}

/*byluodd2017/11/22*/

/*问卷*/

/*common*/

.ec_main {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}

.sharecon {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 999;
}

.head-bg {
  background: url(../img/titbg.png) no-repeat 0 0;
  background-size: 100%;
  width: 100%;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.head-bg h3 {
  height: 50px;
  line-height: 55px;
  font-size: 15px;
  color: #90b437;
  text-align: center;
}

.common_btncon {
  margin-top: 20px;
  text-align: center;
}

.common_btncon a {
  width: 60%;
  background: #7b9a28;
  color: #fff;
  padding: 2% 0;
  font-size: 16px;
  border-radius: 25px;
  letter-spacing: 3px;
  border: 1px solid #b9d281;
}

.icon {
  font-size: 42px;
  line-height: 100px;
  margin: 10px 0;
  color: #333;
  -webkit-transition: font-size 0.25s ease-out 0s;
  -moz-transition: font-size 0.25s ease-out 0s;
  transition: font-size 0.25s ease-out 0s;
}

.form-space {
  display: block;
  margin-bottom: 7px;
}

/*common-end*/

.ec-form .detail li {
  padding: 4%;
  background: #fff;
  margin-bottom: 2px;
}

.ec-form .detail li .q {
  margin-bottom: 4%;
}

.ec-form .detail li .q em {
  display: inline-block;
  font-style: normal;
  margin-right: 4px;
  color: #e4564f;
}

.ec-form .detail li .a {
  padding-left: 10px;
}

/*照片分享*/

.ec-share {
  background: url(../img/sharebg.png) no-repeat 0 0;
  background-size: 100%;
}

.ec-share .tit {
  padding: 5%;
  text-align: center;
}

.ec-share .imgcon {
  width: 70%;
  margin: 0 auto;
  padding: 5% 5% 10% 5%;
  background: #fff;
  box-shadow: 0 2px 10px #999;
}

.ec-share .imgcon img {
  width: 100%;
}

.ec-share .share i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/share.png) no-repeat 0 0;
  background-size: 100%;
  vertical-align: middle;
  margin-right: 5px;
}

.ec-share .share span {
  vertical-align: middle;
}

/*end-照片分享*/

/*会员卡*/

.ec-member dl {
  background-color: #ffffff;
  margin: 10px 0px 0px;
  color: #888a92;
}

.ec-member dd {
  line-height: 20px;
  padding: 10px;
  border-bottom: 1px solid #dedede;
  position: relative;
  color: #848793;
}

.ec-member dd p {
  text-align: right;
  color: #444;
  width: 230px;
}

.ec-member dd input[type="text"] {
  width: 200px;
  padding: 1% 0;
  text-align: right;
  color: #515861;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-size: 14px;
  vertical-align: text-bottom;
}

.ec-member .member_btncon {
  margin-top: 20px;
  text-align: center;
}

.ec-member .member_btncon a {
  width: 60%;
  padding: 2%;
  font-size: 16px;
  border-radius: 25px;
  letter-spacing: 3px;
}

.ec-member .member_btncon a:first-child {
  margin-right: 3%;
}

.ec-member .headimg img {
  width: 70px;
  height: 70px;
  border-radius: 5px;
}

.ec-member .headimg span {
  padding-top: 22px;
}

.ec-member .message p {
  text-align: left;
  width: 100%;
}

.ec-member .message .tit {
  margin-bottom: 2%;
  color: #848793;
}

.ec-member .message .tip {
  font-size: 12px;
  color: #999;
}

.ec-member textarea {
  width: 98%;
  padding: 1%;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  font-size: 18px;
  min-height: 80px;
}

.ec-member textarea::-webkit-input-placeholder {
  color: #b6b6b6;
  font-size: 12px;
}

.ec-member textarea:-moz-placeholder {
  color: #b6b6b6;
  font-size: 12px;
}

.ec-member textarea::-moz-placeholder {
  color: #b6b6b6;
  font-size: 12px;
}

.ec-member textarea:-ms-input-placeholder {
  color: #b6b6b6;
  font-size: 12px;
}

/*end-会员卡*/

/*form*/

label {
  font-weight: normal;
}

label input[type="checkbox"].ace,
label input[type="radio"].ace {
  z-index: -100 !important;
  width: 0 !important;
  height: 0 !important;
  position: fixed;
}

input[type="checkbox"].ace + .lbl,
input[type="radio"].ace + .lbl {
  position: relative;
  display: inline-block;
  margin: 0;
  line-height: 20px;
  min-height: 18px;
  min-width: 18px;
  font-weight: normal;
  cursor: pointer;
}

input[type="checkbox"].ace + .lbl::before,
input[type="radio"].ace + .lbl::before {
  cursor: pointer;
  font-weight: normal;
  font-size: 12px;
  color: #95bb37;
  content: "\a0";
  background-color: #fafafa;
  border: 1px solid #c8c8c8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 0;
  display: inline-block;
  text-align: center;
  height: 16px;
  line-height: 16px;
  min-width: 16px;
  margin-right: 1px;
  position: relative;
  top: -1px;
}

input[type="checkbox"].ace:checked + .lbl::before,
input[type="radio"].ace:checked + .lbl::before {
  display: inline-block;
  font-family: iconfont;
  content: "\e677";
  background-color: #f5f8fc;
  border-color: #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05),
    inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}

input[type="radio"].ace + .lbl::before {
  border-radius: 100%;
  font-size: 10px;
  font-family: iconfont;
  text-shadow: 0 0 1px #32a3ce;
  line-height: 17px;
  height: 17px;
  min-width: 17px;
}

input[type="radio"].ace:checked + .lbl::before {
  content: "\e628";
}

.form-control,
select {
  color: #858585;
  background-color: #fff;
  border: 1px solid #d5d5d5;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control:focus,
select:focus {
  color: #696969;
  border-color: #f59942;
  background-color: #fff;
  outline: none;
}

.select-wrap {
  background-color: #fff;
  width: 100%;
  display: block;
  border-radius: 4px;
  height: 35px;
  border: 1px solid #c8c8c8;
  background: #fff url(../img/arr.png);
  background-size: 16px 9px;
  background-repeat: no-repeat;
  background-position: center right;
}

.select-wrap select {
  border: none;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 5px;
  width: 89%;
}

textarea.form-control {
  width: 90%;
  padding: 5px 9px;
}

input.form-control {
  width: 90%;
  padding: 0px 9px;
}

select option,
select.form-control option {
  padding: 3px 4px;
}

select option:active,
select.form-control option:active,
select option:hover,
select.form-control option:hover,
select option:focus,
select.form-control option:focus {
  background-color: #e5e9ee;
  color: #111;
}

select option[value=""],
select.form-control option[value=""] {
  padding: 0;
}

input[disabled] {
  color: #848484 !important;
  background-color: #eee !important;
}

input[disabled]:hover {
  border-color: #d5d5d5 !important;
}

/*form-end*/
